<!DOCTYPE html>
<html lang="en">
<%
var info = JSON.parse(callOptions.i)
var gitProject = info.project
var gitRepo = info.repo
var rowHl = info.rowHl
var gitUrl = info.giturl
var gitType = info.gittype
var issueTracker = info.issueTracker
var showOptions = info.showOptions
%>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Changelog <%= gitRepo %>-<%= range_until %></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.13/datatables.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="container" role="main">
    <div class="row">
        <h1>Changelog <%= gitRepo %>
            <a href="./changelog-<%= range_since %>.html"><%= range_since %></a> .. <%= range_until %></a>
            &nbsp;<a href="index.html"><i class="fa fa-list" aria-hidden="true"></i></a>
        </h1>
    </div>

    <div class="row">
        <div class="header title">
            <h2>Commits</h2>
        </div>
        <table id="commitTable" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Author</th>
                <th>Message</th>
                <% if (hasIssues === 1) { %>
                    <th>Issues</th>
                <% } %>
                <th>Commit</th>
            </tr>
            </thead>
            <tbody>
            <%
            commits.forEach(function (commit) {
                var commitDate = new Date(Date.parse(commit.committerDate))
                var formattedDate = dateFnsFormat(commitDate, [format = 'DD-MMM-YYYY HH:mm'])
                var sortableDate = dateFnsFormat(commitDate, [format = 'YYYY-MM-DDTHH:mm:ss'])
                messageLines = commit.messageLines.join("\n")
            %>
            <tr>
                <td nowrap="nowrap"><span
                            style="display:none"><%= sortableDate %>&nbsp;</span><%= formattedDate %></td>
                <td nowrap="nowarp"><%= commit.authorName %></td>
                <td>
                    <%= commit.title %>
                    <%
                    if (messageLines.length > 0)
                    {
                    %>
                        <pre><%= messageLines %></pre>
                    <%
                    }
                    %>
                </td>
                <% if (hasIssues === 1) { %>
                    <td>
                        <%
                            var issueCount = 0;
                        if ( commit.issues !== undefined && commit.issues != null)
                        {
                        commit.issues.forEach(function (issue) {
                        if (issueCount > 0)
                        {
                        %>
                            <br/>
                        <span style="white-space: nowrap;">
                            <%
                            }
                                // Now start to create a issue link based on the result from "issues.js"
                            if (issue.startsWith("#"))
                            {
                                // suggest a default git issue (i.e. #234)
                                var issueNumber = issue.substr(1);
                            %>
                            <a target="_blank"
                               href="<%= gitUrl %>/issues/<%= issueNumber %>"><%= issue %></a>
                            <%
                            }
                            // otherwise suggest a ticket from the issue tracker id configured
                            else if (info.issueTracker)
                            {
                                var issueNumber = issue.substr(issue.indexOf('-') + 1);
                                var issueUrl = issueTracker.replace(/:id/g, issueNumber)
                            %>
                            <a target="_blank" href="<%= issueUrl %>"><%= issue %></a>
                            <%
                            }
                            else
                            {
                            %>
                                <stong><%= issue %></stong>
                            <%
                            }
                                issueCount++
                            %>
                            <a href="./changelog-<%= issue %>.html"><i class="fa fa-info-circle"
                                                                       aria-hidden="true"></i></a>
							</span>
                        <%
                        })
                        }
                        %>
                    </td>
                <% } %>
                <td>
                    <%
                    if ( gitUrl != '' )
                    {
                    %>
                    <a target="_blank" href="<%= gitUrl %>/commit/<%= commit.sha1 %>">
                        <%= commit.sha1.substring(0, 7) %>
                        <%
                        }
                        else
                        {
                        %>
                            <%= commit.sha1.substring(0, 7) %>
                        <%
                        }
                        %>
                    </a>
                </td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>

    <%
    if ( showOptions == 'yes' )
    {
    %>
    <div class="row">
        <p>
            <b>Generated with:</b>
        <ul>
            <li>'git log' option: <b><%= callOptions.o %></b></li>
            <li>'info' = <b><%= callOptions.i %></b></li>
        </ul>
        </p>
    </div>
    <%
    }
    %>

</div>

<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs-3.3.7/jqc-1.12.4/dt-1.10.13/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#commitTable').DataTable({
            'iDisplayLength': 25,
            "order": [[0, "desc"]]
            <%
            if(rowHl !== undefined)
            {
            %>
            ,
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData[2].indexOf("<%= rowHl %>") !== -1) {
                    $('td', nRow).css('background-color', '#f9e5bb');
                }
            }
            <%
            }
            %>
        });
    });
</script>
</body>

</html>